@use '../../foundation/variable/color' as *;
@use '../../foundation/variable/size' as *;
@use '../../foundation/mixin/media-query-with-tab' as *;

.bl_canvas {
  height: 100%;
  width: 100%;

  &_wrapper {
    background-color: #ddd;
    border: 4px solid #ddd;
    border-radius: 9999px;
    height: 320px;
    margin: 20px auto 0;
    overflow: hidden;
    position: relative;
    width: 320px;
    z-index: 1;
  }
}
