@use '../../foundation/variable/color' as *;
@use '../../foundation/function/rem' as *;

.el_btn {
  background-color: $colorKey;
  border: 2px solid transparent;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: rem(16);
  max-width: 100%;
  outline: none;
  padding: 0.8em 0.6em;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  width: 100%;

  &:focus,
  &:hover {
    background-color: #fff;
    border-color: currentColor;
    color: $colorKey;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: gray;
    border: 2px solid gray;

    &:hover {
      color: #fff;
    }
  }

  &_wrapper {
    margin: 28px auto 0;
    width: 200px;
  }
}
