//- project
- var path = './';
- var viewport = 'width=device-width,initial-scale=1';
//- meta
- var title = 'Spine x HTML Form with Kiritan Tohoku';
- var description = '';
- var keywords = '';
//- og
- var ogSiteName =  '';
- var ogType =  'website';
- var ogImage =  '';
- var ogUrl =  '';
- var ogDescription =  '';
- var ogTitle =  '';
- var ogLocale =  'ja_JP';