@charset "UTF-8";

/* --------------------
      foundation
-------------------- */
// variable
@use './foundation/variable/color' as *;
@use './foundation/variable/font' as *;
@use './foundation/variable/size' as *;
// animation
@use './foundation/animation/rotate' as *;
// function
@use './foundation/function/half' as *;
@use './foundation/function/rem' as *;
@use './foundation/function/vw' as *;
// mixin
@use './foundation/mixin/media-query-with-tab' as *;
// @use './foundation/mixin/media-query' as *;
@use './foundation/mixin/browsers' as *;

/* --------------------
      base
-------------------- */
@use './base/reset' as *;
@use './base/base' as *;

/* --------------------
      layout
-------------------- */
@use './layout/wrapper' as *;
@use './layout/header' as *;
@use './layout/main' as *;
@use './layout/footer' as *;
@use './layout/form' as *;

/* --------------------
      module
-------------------- */

// element
@use './module/element/btn' as *;
@use './module/element/text' as *;

// block
@use './module/block/canvas' as *;
@use './module/block/formItem' as *;

/* --------------------
      unique
-------------------- */

/* --------------------
      program
-------------------- */
// @use './program/fixBanner' as *;

/* --------------------
      helper
-------------------- */
@use './helper/clearfix' as *;
@use './helper/margin' as *;
@use './helper/padding' as *;
